.wrapper {
  max-width: 692px;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.account-item {
  display: flex;
  gap: 1rem;
  padding: 8px 0;
  cursor: pointer;
}

.avatar {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
  object-fit: cover;
}
.container-info {
  display: flex;
  flex-direction: column;
}
.item-info {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-left: 10px;
}

.nickname {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 1.6rem;
  color: var(--text-color);
}
.check {
  font-size: 1.4rem;
  color: #20d5ec;
}
.name {
  font-size: 1.2rem;
  opacity: #161823bf;
}

.title-account {
  margin-left: 10px;
  font-size: 1.2rem;
}

.follow-btn {
  padding: 6px 16px;
}

.body {
  display: flex;
  gap: 2rem;
}

.video-item {
  max-width: 300px;
  max-height: 500px;
  object-fit: cover;
  background: var(--text-color);
  border-radius: 8px;
  margin-left: 7rem;
}

.list-icon {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2rem;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  cursor: pointer;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: rgba(22, 24, 35, 0.06);
}

.icon {
  font-size: 2.2rem;
}
.number {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: var(--font-family);
}
