.wrapper {
  max-width: 692px;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.account-item {
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  gap: 1rem;
  padding: 8px 0;
  cursor: pointer;
}

.picture {
  width: 5rem;
  height: 5rem;
}
.avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.container-info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.item-info {
  display: flex;
  align-items: center;
  gap: 4px;
}

.nickname {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 1.6rem;
  color: var(--text-color);
}
.check {
  font-size: 1.4rem;
  color: #20d5ec;
}
.name {
  font-size: 1.2rem;
  opacity: #161823bf;
}

.title-account {
  font-size: 1.2rem;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.follow-btn {
  padding: 6px 16px;
}

.section {
  display: flex;
  gap: 2rem;
}

.video-item {
  max-width: 300px;
  max-height: 500px;
  object-fit: cover;
  background: var(--text-color);
  border-radius: 8px;
  margin-left: 7rem;
}

.list-icon {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2rem;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  cursor: pointer;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: rgba(22, 24, 35, 0.06);
}

.icon {
  font-size: 2.2rem;
}
.number {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: var(--font-family);
}

@media only screen and (max-width: 992px), (max-width: 768px), (max-width: 600px) {
  .wrapper {
    padding-right: 1rem;
  }

  .account-item {
    gap: 0;
  }

  .item-info {
    width: 90px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 4px;

    .name {
      text-overflow: ellipsis;
      overflow-x: hidden;
      white-space: nowrap;
    }
  }

  .video-item {
    max-width: 217px;
    max-height: 378px;
    object-fit: cover;
    background: var(--text-color);
    border-radius: 8px;
    margin-left: 0;
  }

  .follow-btn {
    margin-right: 0.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .item-info {
    width: 90px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 4px;
  }

  .nickname {
    max-width: 68px;

    .text {
      text-overflow: ellipsis;
      overflow-x: hidden;
      white-space: nowrap;
    }
  }

  .name {
    max-width: 68px;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
  }
}
