.wrapper {
  position: fixed;
  top: 60px;
  bottom: 50px;
  width: 348px;
  height: 100%;
  padding: 20px 0 26px 0;
  margin-right: 20px;
  margin-bottom: 200px;
  background: var(--white);
  transition: all ease-in-out 200ms;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    display: none;
  }

  &::-webkit-scrollbar-track {
    display: none;
  }

  &:hover {
    &::-webkit-scrollbar {
      display: block;
    }

    &::-webkit-scrollbar-thumb {
      display: block;
    }

    &::-webkit-scrollbar-track {
      display: block;
    }
  }
}
@media only screen and (max-width: 600px) {
  .wrapper {
    padding-bottom: 10rem;
    width: 72px;
    border-right: 1px solid rgba(22, 24, 35, 0.12);
    box-shadow: 0px 2px 8px rgb(0 0 0 / 6%);
  }
}
